header #settingTab a{width: 250px;}

#settingTab input{font-family: 'Pretendard-Regular'; font-weight: 100;}
#settingTab h5{font-size: 16px; margin-left: 15px; margin-bottom: 10px;}
#settingTab h4{font-size: 24px; font-weight: bold; margin-top: 40px; margin-left: 30px; color: #4EA685;}
#settingTab hr{height:2px; width: 350px;
  margin:30px 0 30px 15px;
  background:rgba(255,255,255,.2);}

#settingTab {  
  border: 0.5px solid #efefef; width: 380px; height: 100%; position: fixed; top: 0; border-radius: 15px; background-color: #fff; 
  box-shadow: 0 5px 3px rgba(0,0,0,0.3); margin-left: 200px;}

.settingTop{ margin-top: 30px;}
.settingTop p{font-size: 13px; color: #aaa; margin-left: 30px; margin-top: 10px;}
.settingTop .settingBt{
  border: 3px dashed #111; display: inline-block; width: 250px; height: 50px; line-height: 50px; position: relative;
  border-radius: 10px; margin-left: 30px; margin-top: 10px; color: #111;}
.settingTop .settingBt img{position: absolute; width: 40px; top: 2px; left: 20px;}
.settingTop .settingBt span{position: absolute; left: 80px; top: 15px; font-size: 17px;}


.settingBottom{ margin-top: 30px;}
.settingBottom p{font-size: 13px; color: #aaa; margin-left: 30px; margin-top: 10px;}
.settingBottom .settingBt{
  border: 3px dashed #111; display: inline-block; width: 250px; height: 50px; line-height: 50px; position: relative;
  border-radius: 10px; margin-left: 30px; margin-top: 10px; color: #111;}
.settingBottom .settingBt img{position: absolute; width: 40px; top: 2px; left: 20px;}
.settingBottom .settingBt span{position: absolute; left: 80px; top: 15px; font-size: 17px;}

.settingBt:hover{background-color: #efefef; cursor: pointer;}


.inner2{width: 1000px; margin-left: 600px; }
.inner2 h3{font-size: 25px; margin-left: 120px; margin-top: 60px; margin-bottom: 40px;}
.inner2 .settingMain{border: 3px solid #111; border-radius: 30px ;width: 800px; margin-left: 120px; position: relative; height: 100px;}
.inner2 .settingMain img{position: absolute; width: 80px; height: 80px; top: 8px; left: 30px;}
.inner2 .settingMain .span{position: absolute; top: 25px; left: 130px; font-size: 18px;}
.inner2 .settingMain .span2{position: absolute; top: 25px; left: 0px; color: #111;}
.labelBtn{
  background-color: #0d6efd; color: #fff; width: 100px; height: 30px; line-height: 30px; text-align: center; 
  border-radius: 5px; display: inline-block; cursor: pointer; position: absolute; left: 600px; top: 30px;
}

.settingMain2{position: relative;}
.settingMain2 .textarea{margin-left: 120px; width: 800px; height: 100px; border-radius: 30px; border: 1px solid #111;}
.settingMain2 h5{margin-left: 120px; font-size: 20px; margin-top: 60px; margin-bottom: 20px;}
.settingMain2 textarea{margin: 10px; width: 770px; height: 60px; border: 0; max-height: 60px; max-width: 770px;}
.settingMain2 textarea:focus{outline: none;}
.settingMain2 .textCnt{position: absolute; right: 100px; top: 110px; color: #aaa;}

.settingMain3 h5{margin-left: 120px; font-size: 20px; margin-top: 60px; margin-bottom: 20px;}
.settingMain3 .settingOp{margin-left: 120px; width: 800px; height: 50px; border-radius: 15px;}
#submitBox{margin-left: 580px; margin-top: 70px; }
.settingSubmit{margin-left: 35px; width: 150px; height: 50px; background-color: #0d6efd; border: 0; color: #fff; border-radius: 10px;}
.settingSubmit2{width: 150px; height: 50px; background-color: #aaa; border: 0; color: #fff; border-radius: 10px;}
.deleteBtn{ 
  width: 150px; height: 50px; background-color: red; color: #fff; border-radius: 10px; display: inline-block; text-align: center; line-height: 50px; text-decoration: none;}
.deleteBtn:hover{color: #fff;}

.settingTop .settingBt .imgSize{width: 35px; height: 35px; margin-top: 2px;}
.settingBottom .settingBt .imgSize{width: 35px; height: 35px; margin-top: 2px;}


/*��й�ȣ ���� ������ css*/
.settingPW{margin-left: 120px;}
.settingPW p{font-size: 17px; margin-left: 30px; margin-bottom: 10px; margin-top: 50px;}
.settingPW input[type="password"]{width: 600px; height: 35px; border: 1px solid #aaa; border-radius: 10px;}
.settingPW input[type="password"]:last-child{margin-bottom: 40px;}
.settingPWSubmit{margin-left: 570px; margin-top: 50px; width: 150px; height: 50px; background-color: #0d6efd; border: 0; color: #fff; border-radius: 10px;}
.settingPWSubmit2{margin-left: 570px; margin-top: 50px; width: 150px; height: 50px; background-color: #aaa; border: 0; color: #fff; border-radius: 10px;}



/*ȸ��Ż�� �˾�*/
#deletePopup .modal-dialog{max-width: 350px;} /*���̴� ���⼭*/
#deletePopup .deletePopupMain{height: 300px;} /*���̴� ���⼭*/
#deletePopup .deletePopupMain p{font-size: 18px; margin-top: 30px; text-align: center; margin-bottom: 20px;}
#deletePopup .deletePopupMain input[type="password"]{height: 30px; display: block; margin: 0 auto; margin-bottom: 50px;}
#deletePopup .deletePopupMain input[type="text"]{height: 30px; display: block; margin: 0 auto; margin-bottom: 30px;}
#deletePopup .deletePopupMain .deleteBtn{border: 0; width: 120px; height: 40px; line-height: 40px; margin-left: 98px;}


#errorText{font-size: 13px}
