@charset 'UTF-8';

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 300;
  font-style: normal;}


*{
    margin:0; padding: 0; box-sizing: border-box; 
    font:600 16px/18px 'Open Sans',sans-serif;
}

ul, ol{list-style: none;}
a{text-decoration: none; color: #000;}
.clearfix::after{content: ''; display: block; clear: both;}

#nav{
 position: fixed; width: 200px; border-right: 1px solid #d1d0d0; height: 100%; background-color: #fff;
}

/*로고*/
#logo a{
  display: inline-block; width: 120px; height: 50px; margin-top: 30px; margin-left: 20px;
  background: url('./인스타\ 탑로고.png') center/contain no-repeat;
}



/*탭메뉴 메인에 z인덱스 -2아래로 설정*/ /*z-인덱스는 nav에만 -1준 상태*/
/*탭메뉴에 페이지 저장 실패 해서 기본 색 변경*/

#tabmenu a{width: 150px; height: 50px; display: inline-block; text-decoration: none; color: #6a6f8c;}

#tabmenu label{
  color: #6a6f8c; cursor: pointer; font-size: 16px; border-radius: 10px; width: 150px;
  display: block; margin-top: 10px; margin-left: 20px; height: 50px; line-height: 50px;
}
#tabmenu label:hover{background-color: #efefef; transition: all 0.3s; }
#tabmenu label:hover img{width: 25px;}

input[type="radio"] {
  display: none;   
}
#tabmenu input:checked + label{
  color: #4EA685;  
}


header img{width: 20px; margin-right: 10px;}

#nav1, #nav2, #nav3{
  border: 0.5px solid #efefef; width: 380px; height: 100%; position: fixed; top: 0; opacity: 0; z-index: -1; border-radius: 15px; background-color: #fff; 
  box-shadow: 0 5px 3px rgba(0,0,0,0.3);
}
#tabmenu #tab1:checked ~ #nav1,  
#tabmenu #tab2:checked ~ #nav2,
#tabmenu #tab3:checked ~ #nav3{transform: translatex(200px); transition: all 0.5s; opacity: 1; z-index: 1;}


#hdsearch{background-color: #efefef; width: 340px; height: 40px; border: 0px; border-radius: 10px; margin-left: 20px; margin-top: 30px;}
#nav h4{font-size: 24px; font-weight: bold; margin-top: 40px; margin-left: 30px; color: #4EA685;}
#nav1 input{font-family: 'Pretendard-Regular'; font-weight: 100;}
#nav1 h5{font-size: 16px; margin-left: 15px; margin-bottom: 10px;}
#nav1 hr{height:2px; width: 350px;
  margin:30px 0 30px 15px;
  background:rgba(255,255,255,.2);}
#nav1 .search{margin-bottom: 20px; height: 50px; line-height: 50px;}
#nav1 .search a{width: 340px; margin-left: 30px;}
#nav1 .search a{position: relative;}
#nav1 .search a span{position: absolute; top: 15px;}
#nav1 .search img{width: 30px; height: 30px; margin-top: 10px; display: inline-block;}
#nav1 .search a:hover{background-color: #efefef; transition: all 0.3s; border-radius: 10px;}




#nav2 #messageLink{float: right; width: 24px; height: 24px; margin-right: 30px; margin-top: 40px;}
#nav2 #messageLink img{width: 100%;}
#nickname{display: inline-block; margin-left: 30px; margin-top: 40px; font-size: 21px;  color: #4EA685;}
#nav2 h5{font-size: 16px; margin-left: 30px; margin-top: 40px; margin-bottom: 30px;}
#nav2 .massage{margin-bottom: 20px; height: 50px;}
#nav2 .massage a{width: 340px; margin-left: 30px;}
.span{font-size: 14px; height: 50px; word-wrap: break-word; width: 250px; display: inline-block; color: #111;} /*span css 모음*/
.span2{font-size: 12px; color: #aaa;}
#nav2 .massage img{width: 30px; height: 30px; margin-top: 10px; display: inline-block;}
#nav2 .massage a:hover{background-color: #efefef; transition: all 0.3s; border-radius: 10px;}


#nav3 h5{font-size: 16px; margin-left: 30px; margin-top: 40px; margin-bottom: 30px;}
#nav3 .notice {margin-bottom: 20px;}
#nav3 .notice a{width: 340px; margin-left: 30px; position: relative;}
#nav3 .notice a .span{position: absolute; top: 15px;}
#nav3 img{width: 30px; height: 30px; margin-top: 10px; display: inline-block;}
#nav3 .img2{margin-top: 10px; margin-right: 0; position: absolute; right: 0;}
#nav3 .notice a:hover{background-color: #efefef; transition: all 0.3s; border-radius: 10px;}


#nav4{
  width: 180px; height:102px; position: fixed; opacity: 0; z-index: -1; margin-top: 10px; 
  border-radius: 15px; margin-left: 10px;}
#tabmenu #tab7:checked ~ #nav4{ transition: all 0.3s; opacity: 1;}


#nav4{border: 0; background-color: #fff;
  box-shadow: 0 5px 3px rgba(0,0,0,0.1);}
#nav4 a{color: #6a6f8c; line-height: 50px; text-align: center; margin-left: 5px;}
#nav4 li{border-bottom: 1px solid #c4c0c0; width: 160px; margin: 0 auto;}
#nav4 li:last-child{border-bottom: 0px}
#nav4 a:hover{background-color: #efefef; transition: all 0.3s; border-radius: 10px; color: #4EA685;}









/*main*/;
#maindiv{height: auto;}
.inner{width:450px; margin: 0 auto;}

.page{height: auto;
  border-bottom: 1px solid #d1d0d0;
  margin-left: auto; margin-right: auto; margin-bottom: 40px;}

.maintop{height: 50px; margin-top: 30px; margin-bottom: 10px; position: relative;}
.maintop button{position: absolute; left: 150px; top: 15px; background-color: #fff; border: 0; color: #4EA685; font-size: 15px; font-family: 'Pretendard-Regular';}
.maintop button:hover{font-size: 18px; transition: all 0.3s;}
.maintop img{width: 30px; height: 30px; margin-top: 10px; margin-right: 10px;}
.profile{border-radius: 30px; border: 1px solid #c4c0c0;}
/*의문의 범위가 있어 가운데 정렬 보류*/
.main1span{font-size: 14px; display: inline-block; font-family: 'Pretendard-Regular'; position: absolute; left: 100px; top: 15px;}
.main1name{font-size: 16px; line-height: 50px; height: 50px; display: inline-block; font-family: 'Pretendard-Regular'; position: absolute;}





/*슬라이드*/

.slideShow{
  width: 450px;
  height: 550px;
}
.bx-wrappe{margin: 0 auto;}
.bxslider li { list-style: none; width: 450px; height: 550px; margin: 0 auto;background-color: #111;}
.bxslider li img{height: 100%; margin: 0 auto;}



.main2{
  margin-top: 10px; margin-bottom: 8px;
}
.main2 .good{width: 30px; height: 30px; margin-top: 30px;}
.main2 a img{width: 30px; height: 30px; margin-left: 8px;}

.main3{ margin-bottom: 8px;}
.main3 p{font-size: 14px; font-family: 'Pretendard-Regular';}

.main4{ margin-bottom: 8px;}
.main4 a{font-size: 14px; font-family: 'Pretendard-Regular';}
.main4 span{font-size: 14px; font-family: 'Pretendard-Regular'; font-weight: 300;}
.tabmore #more:checked ~ .main4block{
  display: block;
}
.more1{font-family: 'Pretendard-Regular'; font-size: 14px; color: #737373; cursor: pointer;}
.main4block {display: none;}
.main4block2{font-family: 'Pretendard-Regular'; font-size: 14px;  font-weight: 300;}
.main5 a{font-size: 14px; font-family: 'Pretendard-Regular'; 
   color: #737373; cursor: pointer;}

.hotreply{
   margin-top: 8px;
}
.hotreply input[type="text"]{
  height: 20px; width: 450px; border: 0px; font-family: 'Pretendard-Regular'; margin-bottom: 20px;
}

.hotreply input[type="submit"]{
  opacity: 0;
}

