@charset 'UTF-8';


@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;}

@font-face {
    font-family: 'BookkMyungjo-Lt';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkMyungjo-Lt.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'BookkMyungjo-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkMyungjo-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
*{
    margin:0; padding: 0; box-sizing: border-box; 
    font-family: 'BookkMyungjo-lt';
}
ul, ol{list-style: none; font-size: 0;}
a{text-decoration: none; color: #aba9af;}
.inner{width: 1415px; margin: 0 auto;}
.clearfix::after{content: ''; display: block; clear: both;}
.block{display: block;}
.bold{font-family: 'BookkMyungjo-Bd';}

h2{
    font-family: 'Playfair Display'; font-size: 40px; 
    color: #241935; text-align: center; margin-bottom: 60px;
}




/*header*/
/*헤더*/ 
header{
    position: absolute; top: 0; left: 0;background-color: #fff;
    width: 100%; height: 150px; z-index: 99999; margin: 0 auto; 
}
/* 헤더에 호버시 변화 */
header:hover{background-color: #fff;}
header a{color: inherit; font-family: 'Pretendard-Regular';}
/*로고*/
header #logo_top{
    float: left; width: 240px; height: 100%; margin-left: 5%;}
#logo_top a{
    display: inline-block; width: 240px; height: 40px; margin-top: 55px;
    background: url('./images/logo_top.png') center/contain no-repeat;
}
/*카테고리 gnb */
.gnb_wrap{float: left; width: 60%; height: 100%; padding-left: 100px;}
.gnb{width: 100%; height: 100%;}
.gnb>li{
    position: relative; display: inline-block; width: 20%; height: 100%;
    text-align: center; font-size: 20px; color: #241935;
}
.gnb>li>a{
    display: block; width: 100%; height: 100%; line-height: 150px;
}
.gnb .sub_menu{
    width: 100%; z-index: 500;
    transition: all 0.4s; display: none;
    position: absolute; top:200px;
}
.gnb .sub_menu li{
    width: 100%; height: 55px;
    line-height: 55px; text-align: center;
    overflow: hidden; 
}
.gnb >li:hover> a{text-decoration: underline;}
.gnb .sub_menu> li:hover >a{text-decoration: underline;}
.sub_menu li a{
    display:inline-block; width: 100%; height: 100%;
    font-size: 15px; color: #241935; 
}
.gnb_wrap .gnbbg{
    background-color: #fff; display: none;
    width: 100%; height: 340px;
    position: absolute; top:150px; left: 50%; 
    transform: translateX(-50%);  z-index: 299;
}

/* gnb에 호버 했을 때 */
.gnb_wrap:hover .gnbbg, .gnb_wrap:hover .sub_menu{display: block;}
.gnbbg #gnbbg_main{
    width: 360px; height: 280px; margin: 30px;
    display: inline-block;
}
.gnbbg #gnbbg_main a{
    display: inline-block; width: 100%; height: 100%;
    background: url(./images/gnbbg_main.png)center/contain no-repeat;
}
.gnbbg #gnbbg_pic{
    float: right; width: 330px; height: 270px; margin: 30px 50px;
}
#gnbbg_pic li{
    display: inline-block; width: 150px; height: 120px; position: relative;
}

#gnbbg_pic li::before{
    content: ''; display: none; width: 100%; height: 100%;
    background-color: rgba(255,255,255, 0.5);
    position: absolute; top:0; left: 0;
}
#gnbbg_pic p{
    position: absolute; top:0; left: 0; text-align: center; word-break: keep-all;
    font-size: 13px; color: #241935; margin-top: 50px; width: 100%;
    display: none; font-family: 'Pretendard-Regular';
}
#gnbbg_pic li:hover::before, #gnbbg_pic li:hover p{display: block; text-align: center;}

#gnbbg_pic li:nth-child(1){margin: 0 25px 25px 0;}
#gnbbg_pic li:nth-child(2){margin-bottom: 25px;}
#gnbbg_pic li:nth-child(3){margin-right: 25px;}

#gnbbg_pic li a{display: inline-block; width: 100%; height: 100%;}
#gnbbg_pic li:nth-child(1)>a{background: url('./images/gnbbg_pic1.png')center/contain no-repeat;}
#gnbbg_pic li:nth-child(2)>a{background: url('./images/gnbbg_pic2.png')center/contain no-repeat;}
#gnbbg_pic li:nth-child(3)>a{background: url('./images/gnbbg_pic3.png')center/contain no-repeat;}
#gnbbg_pic li:nth-child(4)>a{background: url('./images/gnbbg_pic4.png')center/contain no-repeat;}

.header_right{
    float: right; width: 13%; height: 100%; 
    text-align: right; margin-right: 5%;
}
/*로그인메뉴*/
#login_menu{width: 100%; height: 50%; padding-top: 25px;}
#login_menu li{display: inline-block; margin-left: 30px;}
#login_menu li a{font-size: 16px; color: #241935;}

/*아이콘메뉴*/
.icon_menu{width: 100%; height: 50%;}
.icon_menu li{
    display: inline-block; width: 25px; height: 25px; margin-left: 20px;
}
.icon_menu li a{display: block; width: 100%; height: 100%;}
.icon_menu li:nth-child(1) a{background: url('./images/cs_icon.png')center/contain no-repeat;}
.icon_menu li:nth-child(2) a{background: url('./images/mypage_icon.png')center/contain no-repeat;}
.icon_menu li:nth-child(3) a{background: url('./images/shop_icon.png')center/contain no-repeat;}
.icon_menu li:nth-child(4) a{background: url('./images/search_icon.png')center/contain no-repeat;}

/*스크롤 시 헤더 설정*/

/*main1*/ /*헤더 푸터 넣기 플레이페어 적용 안된듯*/


#tabmenu label{
    color: #aba9af; text-align: right; cursor: pointer; font-size: 30px;
    height: 57px;  display: block; line-height: 57px;
    position: absolute; margin-top: 150px;}
#tabmenu input{display: none;}
#tabmenu input:checked + label{
    color: #241935; transform: translatex(-80px); 
    transition: all 0.3s;}
#tabmenu input:checked + label::after{
    content: ''; background-color: #241935; width: 50px; height: 3px; position: absolute;
    top: 50%; margin-left: 8px;}




#brand1, #brand2, #brand3{display: none;}
#tabmenu #tab1:checked ~ #brand1,  
#tabmenu #tab2:checked ~ #brand2,
#tabmenu #tab3:checked ~ #brand3{display: block;}

/*텝메뉴 위치*/
#tabmenu{ margin: 0; position: relative;}
.taab1{top: 0px; right: 254px; z-index: 999;}
.taab2{top: 61px; right: 254px; z-index: 999;}
.taab3{top: 125px;right: 254px; z-index: 999;}



#brand1{width: 1920px; height: 1350px; margin-top: 150px; }
#background_img1{
    width: 100%; height: 100%;
    background: url(./이미지/백그라운드\ 이미지.png) center/cover no-repeat;
}
.main_top1{position: relative;}
.brand_name1{padding-top: 122px; padding-bottom: 136px;}
.brand_name1 h3{
    padding-bottom: 45px; font-size: 70px; color: #241935;
    font-family: 'Playfair Display', serif; font-weight: 800;}
.brand_name1 p{font-size: 27px; font-weight: bold;}


#brand1_story p{
    line-height: 45px;
    font-size: 27px;}

#story1_bold {font-family: 'BookkMyungjo-Bd'; padding-top: 130px;}
#story1_bold span{font-family: 'BookkMyungjo-Bd';}


/*main2*/
#brand2{background-color: #fdfaf5; width: 1920px; height: 2000px; margin-top: 150px;}
.main_top2{position: relative;}
.brand_name2{padding-top: 122px; padding-bottom: 119px;}
.brand_name2 h3{
    padding-bottom: 45px; font-size: 70px; color: #241935;
    font-family: 'Playfair Display', serif; font-weight: 800;}
.brand_name2 p{font-size: 27px; font-family: 'BookkMyungjo-Bd'; line-height: 45px;}
.brand_name2 p span{font-size: 27px; font-family: 'BookkMyungjo-Bd';}

#main1{ padding-bottom: 206px;}
#main2_img1{
    float: left;
    width: 552px; height: 350px; margin-right: 174px;
    background: url(./이미지/메인\ 1\ 크기조절버전.png) center/cover no-repeat ;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.4);}
#main2_text1{float: left; padding-top: 75px;}
#main2_text1 h5, #main2_text1 h6{
    font-family: 'BookkMyungjo-Bd';
    font-size: 24px; color: #241935; height: 36px; }
#main2_text1 h5{border-bottom: 2px solid #241935; width: 230px;}
#main2_text1 h6{margin-top: 13px;}
#main2_text1 p{font-size: 19px; padding-top: 40px;}


#main2{ padding-bottom: 206px;}
#main2_img2{
    float: right;
    width: 552px; height: 350px; margin-left: 147px;
    background: url(./이미지/메인2\ 크기\ 조절버전.png) center/cover no-repeat ;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.4);}
#main2_text2{float: right; padding-top: 75px;}
#main2_text2 h5, #main2_text2 h6{
    font-family: 'BookkMyungjo-Bd'; height: 36px;
    font-size: 24px; color: #241935;}
#main2_text2 h5{border-bottom: 2px solid #241935; width: 150px;}
#main2_text2 h6{margin-top: 13px;}
#main2_text2 p{font-size: 19px; padding-top: 40px;}



#main2_img3{
    float: left;
    width: 552px; height: 350px; margin-right: 174px;
    background: url(./이미지/메인3\ 크기\ 조절버전.png) center/cover no-repeat ;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.4);}
#main2_text3{float: left; padding-top: 75px;}
#main2_text3 h5, #main2_text3 h6{
    font-family: 'BookkMyungjo-Bd'; height: 36px;
    font-size: 24px; color: #241935;}
#main2_text3 h5{border-bottom: 2px solid #241935; width: 139px;}
#main2_text3 h6{margin-top: 13px;}
#main2_text3 p{font-size: 19px; padding-top: 40px;}



/*메인3*/
#brand3{background-color: #fdfaf5; width: 1920px; height: 1350px; margin-top: 150px;}
.main_top3{position: relative;}
.brand_name3{padding-top: 122px; padding-bottom: 160px;}
.brand_name3 h3{
    padding-bottom: 45px; font-size: 70px; color: #241935;
    font-family: 'Playfair Display', serif; font-weight: 800;}
.brand_name3 p{font-size: 27px; font-family: 'BookkMyungjo-Bd'; line-height: 45px;}
.brand_name3 p span{font-size: 27px; font-family: 'BookkMyungjo-Bd';}


#brand3_logo p{font-size: 22px; float: left;}
#brand3_color{padding-bottom: 50px;}
#brand3_img1{
    float: left; margin-left: 74px;
    width: 759px; height: 143px; 
    background: url(./이미지/그리드\ 로고1.png)  center/cover no-repeat;}




#brand3_black{padding-bottom: 109px;}
#brand3_img2{
    float: left; margin-left: 95px;
    width: 759px; height: 143px; 
    background: url(./이미지/그리드\ 로고2.png)  center/cover no-repeat;}
#brand3_text p{font-size: 27px; line-height: 45px;}



/* 전체 스크롤시 액티브모음
#brand1 .bold{transition: all .5s; transform: translateY(-100%); opacity: 0;}

#brand1.active .bold{transform: translateY(0); opacity: 1;}
#brand1.active .bold{transition-delay: 0.1s;}*/



/* 푸터 */
footer{background-color: #241935; padding: 100px; }
footer p, footer a, footer span{font-family: 'Pretendard-Regular';}
#f_left{float: left;}
#f_left h1 a{ display: inline-block; width: 240px; height: 40px;}
#f_left h1 a img{display: inline-block; width: 100%; height: 100%;}

#f_menu li{
    display: inline-block; font-size: 16px; color: #fff;
    margin: 30px 40px 20px 0; 
}
#f_menu li a{display: inline-block; width: 100%;}
#f_left p{color: #fff; line-height: 1.7;}
#f_left p span{color: #fff;}
#f_left #copy{margin-top: 10px; color: #999;}

#f_right{float: right;}
#f_right #f_icon{float: right; margin-bottom: 30px;}
#f_icon li{
    display: inline-block; margin-left: 15px; width: 40px; height: 40px;
}
#f_icon li a{display: block; width: 100%; height: 100%;}
#f_icon li:nth-child(1) > a{
    background: url('./images/insta_sns.png') center/contain no-repeat;
}
#f_icon li:nth-child(2) > a{
    background: url('./images/facebook_sns.png') center/contain no-repeat;
}
#f_icon li:nth-child(3) > a{
    background: url('./images/youtube_sns.png') center/contain no-repeat;
}
#f_icon li:nth-child(4) > a{
    background: url('./images/kakao_sns.png') center/contain no-repeat;
}

#f_right p{
    font-size: 40px; font-weight: 500; color: #fff;
    text-align: right; line-height: 1.5;
}
#f_right span{
    font-size: 15px; text-align: right;
    color: #fff; font-weight: 300; 
}


@media (max-width:1024px){
    .inner{margin: 0; width: 1024px;}
     #tabmenu input:checked + label{transform: translatex(0); border-bottom: 1px solid #241935;}
     #tabmenu input:checked + label::after{height: 0;}
     .taab1{top: 0px; right: 10%; }
     .taab2{top: 61px; right: 10%; }
     .taab3{top: 125px;right: 10%; }

     #brand1, #brand2, #brand3{width: 1024px;}

     .brand_name1, .brand_name2, .brand_name3{margin-left: 50px;}

    #brand1_story p{margin-left: 50px; font-size: 20px;}
    #brand1{background-color: #fdfaf5;}
    #background_img1{width: 0;}



    #brand2{height: 1700px;}

    #main2_img1{margin: 0; width: 400px; height: 253px; margin-left: 50px;}
    #main2_text1{padding-top: 57px; margin-left: 50px;}
    #main2_text1 h5{font-size: 20px; width: 200px;}
    #main2_text1 h6{font-size: 20px;}
    #main2_text1 p{font-size: 15px; padding-top: 20px;}


    #main2_img2{margin: 0; width: 400px; height: 253px; margin-right: 50px;}
    #main2_text2{padding-top: 57px; margin-right: 50px;}
    #main2_text2 h5{font-size: 20px; width: 130px;}
    #main2_text2 h6{font-size: 20px;}
    #main2_text2 p{font-size: 15px; padding-top: 20px;}


    #main2_img3{margin: 0; width: 400px; height: 253px; margin-left: 50px;}
    #main2_text3{padding-top: 57px; margin-left: 50px;}
    #main2_text3 h5{font-size: 20px; width: 130px;}
    #main2_text3 h6{font-size: 20px;}
    #main2_text3 p{font-size: 15px; padding-top: 20px;}






    #brand3_logo{margin-left: 50px;}
    #brand3_logo p, #brand3_black p{float: none; font-size: 18px;}
    #brand3_img1{margin-left: 95px;}

    #brand3_text p{font-size: 18px;}
    #brand3_text{margin-left: 50px;}





    header #logo_top{width: 180px; height: 30px;}
    #logo_top a{width: 180px; height: 30px;}
    .gnb_wrap{width: 50%; padding-left: 0;}
    .gnb_wrap .gnbbg #gnbbg_main, .gnbbg #gnbbg_pic{display: none;}
    .header_right{width: 20%;}
    #login_menu li{margin-left: 10px;}
    .icon_menu li{margin-left: 10px; width: 20px; height: 20px;}
    
    
    footer{padding: 50px;}
    
    #f_left h1 a{width: 180px; height: 30px;}
    #f_menu li{margin: 20px 30px 20px 0; font-size: 15px;}
    #f_left p{font-size: 15px;}
    #f_right #f_icon{margin-bottom: 10px;}
    #f_icon li{width: 30px; height: 30px; margin-left: 10px;}
    #f_right p{font-size: 30px;}
    #f_right span{font-size: 13px;}
}



@media (max-width:768px){

     .inner{margin: 0; width: 768px;}
     #tabmenu label{font-size: 22px; height: 40px; line-height: 40px;}
     #tabmenu input:checked + label{transform: translatex(0); border-bottom: 1px solid #241935;}
     #tabmenu input:checked + label::after{height: 0;}
     .taab1{top: 0px; right: 10%; }
     .taab2{top: 50px; right: 10%; }
     .taab3{top: 103px;right: 10%; }

     #brand1, #brand2, #brand3{width: 768px;}

     .brand_name1, .brand_name2, .brand_name3{margin-left: 50px; }
     .brand_name1 h3, .brand_name2 h3, .brand_name3 h3{font-size: 50px; padding-bottom: 30px;}
     .brand_name1 p, .brand_name2 p, .brand_name3 p{font-size: 20px;}
     .brand_name1 p > span, .brand_name2 p > span, .brand_name3 p > span{font-size: 20px;}

    #brand1_story p{margin-left: 50px; font-size: 16px;}
    #story1_bold{padding-top: 100px;}
    #brand1{background-color: #fdfaf5; height: 1000px;}
    #background_img1{width: 0;}



    #brand2{height: 1500px;}

    #main2_img1{margin: 0; width: 300px; height: 190px; margin-left: 50px;}
    #main2_text1{padding-top: 40px; margin-left: 25px;}
    #main2_text1 h5{font-size: 13px; height: 25px; width: 140px;}
    #main2_text1 h6{font-size: 13px; margin-top: 5px; height: 25px;}
    #main2_text1 p{font-size: 11px; padding-top: 10px;}


    #main2_img2{margin: 0; width: 300px; height: 190px; margin-right: 50px;}
    #main2_text2{padding-top: 40px; margin-right: 25px;}
    #main2_text2 h5{font-size: 13px; height: 25px; width: 100px;}
    #main2_text2 h6{font-size: 13px; margin-top: 5px; height: 25px;}
    #main2_text2 p{font-size: 11px; padding-top: 10px;}


    #main2_img3{margin: 0; width: 300px; height: 190px; margin-left: 50px;}
    #main2_text3{padding-top: 40px; margin-left: 25px;}
    #main2_text3 h5{font-size: 13px; height: 25px; width: 100px;}
    #main2_text3 h6{font-size: 13px; margin-top: 5px; height: 25px;}
    #main2_text3 p{font-size: 11px; padding-top: 20px;}






    #brand3{height: 1200px;}
    #brand3_logo{margin-left: 50px;}
    #brand3_logo p, #brand3_black p{float: none; font-size: 18px;}
    #brand3_img1{margin-left: 95px; width: 448px; height: 84px;}
    #brand3_img2{width: 448px; height: 84px;}

    #brand3_text p{font-size: 14px;}
    #brand3_text{margin-left: 50px;}




    header #logo_top{width: 120px; height: 20px;}
    #logo_top a{margin: 30px;}
    .gnb_wrap{width: 100%; padding: 0 5%;}
    .header_right{display: none;}


    #f_left{width: 70%;}
    #f_left h1 a{width: 120px; height: 20px;}
    #f_menu li{margin: 20px 20px 20px 0;}
    #f_left p{font-size: 13px;}
}

@media (max-width:480px){
    .inner{margin: 0; width: 480px;}
    #tabmenu label{font-size: 17px; height: 30px; line-height: 30px;}
    #tabmenu input:checked + label{transform: translatex(0); border-bottom: 1px solid #241935;}
    #tabmenu input:checked + label::after{height: 0;}
    .taab1{top: 0px; right: 10%; }
    .taab2{top: 30px; right: 10%; }
    .taab3{top: 63px;right: 10%; }

    #brand1, #brand2, #brand3{width: 480px;}


    .brand_name1, .brand_name2, .brand_name3{margin-left: 15px; }
    .brand_name1 h3, .brand_name2 h3, .brand_name3 h3{font-size: 30px; padding-bottom: 10px; ;}
    .brand_name1 p, .brand_name2 p, .brand_name3 p{font-size: 10px; line-height: 2;}
    .brand_name1 p > span, .brand_name2 p > span, .brand_name3 p > span{font-size: 10px;}

   #brand1_story p{margin-left: 15px; font-size: 14px; line-height: 2;}
   #brand1{background-color: #fdfaf5; height: 800px;}
   #story1_bold{padding-top: 60px;}
   #background_img1{width: 0;}



   #brand2{height: 1400px;}

   #main1, #main2, #main3{padding-bottom: 103px;}

   #main2_img1{margin: 0; width: 200px; height: 126px; margin-left: 50px;}
   #main2_text1{padding-top: 40px; margin-left: 50px;}
   #main2_text1 h5{font-size: 13px; height: 25px; width: 120px; border-bottom: 1px solid #241935;}
   #main2_text1 h6{font-size: 13px; margin-top: 5px; height: 25px;}
   #main2_text1 p{font-size: 11px; padding-top: 10px;}


   #main2_img2{margin: 0; width: 200px; height: 126px; margin-left: 50px; float: left;;}
   #main2_text2{padding-top: 40px; margin-left: 50px; float: left;}
   #main2_text2 h5{font-size: 13px; height: 25px; width: 80px; border-bottom: 1px solid #241935;}
   #main2_text2 h6{font-size: 13px; margin-top: 5px; height: 25px;}
   #main2_text2 p{font-size: 11px; padding-top: 10px;}


   #main2_img3{margin: 0; width: 200px; height: 126px; margin-left: 50px;}
   #main2_text3{padding-top: 40px; margin-left: 50px;}
   #main2_text3 h5{font-size: 13px; height: 25px; width: 80px; border-bottom: 1px solid #241935;}
   #main2_text3 h6{font-size: 13px; margin-top: 5px; height: 25px;}
   #main2_text3 p{font-size: 11px; padding-top: 10px;}




   #brand3{height: 900px;}
   #brand3_logo{margin-left: 15px;}
   #brand3_logo p, #brand3_black p{float: none; font-size: 14px;}
   #brand3_img1{margin-left: 95px; width: 300px; height: 56px;}
   #brand3_img2{width: 300px; height: 56px;}

   #brand3_text p{font-size: 10px; line-height: 2;}
   #brand3_text{margin-left: 5px;}



   footer{padding: 20px 10px;}
   #f_menu li a{font-size: 13px;}
   #f_left{width: 100%;}
   #f_left p{font-size: 10px;}
   #f_menu li{margin: 10px 10px 20px 0;}
   #f_right{display: none;}
}
