/*정 가운데에 위치하면 탭메뉴에 가려지기에 살짝 오른쪽에 위치(인스타도 같은 방식)*/
#scanMain{ width: 920px; height: 1000px; margin-left: 600px; margin-top: 30px;}
li{margin: 0; padding: 0;}
.scanimg{
    width: 300px; height: 300px; display: inline-block; margin-top: 5px; margin-bottom: 5px; }
.scanimg img{width: 100%;}
#scanMain ul{padding: 0;}

.modal-dialog{max-width: 1300px;} /*넓이는 여기서*/
.popupView{height: 800px; position: relative;} /*높이는 여기서*/

.popupViewLeft{border: 1px solid #111; width: 750px; height: 100%; display: inline-block; margin-right: 10px;}
.popupViewRight{border: 1px solid #111; width: 500px; height: 100%; display: inline-block; position: absolute;}

.mainTop button{left: 90px;}
.mainTop{margin-left: 10px;}
.mainTop{border-bottom:1px solid #d1d0d0; margin-right: 10px;}

.popupviewMain{height: 550px; overflow: scroll; }
/*스크롤바 제거*/
.popupviewMain {
    -ms-overflow-style: none; /* 익스플로러, 앳지 */
    scrollbar-width: none; /* 파이어폭스 */
}
.popupviewMain .mainTop{margin-top: 10px; border-bottom: 0;}
.popupviewMain .mainTop .main1name{font-size: 14px;}
.popupviewMain .mainTop .profile{width: 25px; height: 25px; margin-top: 12px;}
.popupViewReply{
    display: inline-block; position: absolute; left: 100px; top: 14px; width: 300px;
    font-size: 14px; font-family: 'Pretendard-Regular'; font-weight: 300;}
.replyHeart{position: absolute; display: inline-block; left: 420px; top: 5px;}
.replyHeart img{width: 20px; height: 20px;}
.popupviewMain .popupviewMainSpan1{margin-left: 45px; font-size: 12px; color:#737373;}
.popupviewMain .popupviewMainSpan2{margin-left: 5px; font-size: 12px; color:#737373;}
.popupviewMain .popupviewMainSpan3{margin-left: 5px; font-size: 14px; color:#6a6f8c; cursor: pointer;}
.scroll::-webkit-scrollbar {
    display: none;
  }

.popupviewBottom{border: 1px solid #111; height: 160px;}
