.labelBtn{border: 0; background-color: #aaa;}
.inner2 .settingMain{border: 0;}
.inner2 .settingMain img{border-radius: 80px;}
.inner2 h6{margin-left: 120px; margin-bottom: 30px; color: #aaa; margin-top: 60px;}